<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deky Media</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/2a61b6fe7f.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../public/css/main.css" />
    <script defer src="../public/js/main.js"></script>
  </head>
  <body>
    <!-- Header Content -->
    <header class="container">
      <nav class="navbar">
        <a class="logo" href="../views/index.html">
          <img src="/public/images/deky-logo.png" alt="Deky logo" />
        </a>

        <div class="menu">
          <i class="fa-solid fa-bars open"></i>
          <i class="fa-solid fa-xmark close"></i>
        </div>

        <ul class="list">
          <li class="list-item">
            <a href="/views/index.html" id="home" class="list-link">Home</a>
          </li>
          <li class="list-item">
            <a href="../views/about.html" id="about" class="list-link">About Us</a>
          </li>
          <li class="list-item">
            <a href="../views/service.html" id="service" class="list-link">Services</a>
          </li>
          <li class="list-item">
            <a href="../views/contact.html" id="contact" class="list-link">Contact Us</a>
          </li>
          <li class="list-item">
            <a href="../views/FAQ.html" id="FAQ" class="list-link">FAQ</a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- Main Content -->
    <main>
      <section class="hero container"></section>
      <section class="contact">
        <div class="contact__headings">
          <h2>Contact<br />Us</h2>
          <div class="line"></div>
        </div>
        
        <div class="contact__subsection">
          <div class="contact__content">
            <img src="../public/images/our-connect.png" alt="" class="contact__img">
            <div class="contact__text">
              <h2>Being Part of the Next Cohort</h2>
              <p>Join our upcoming cohort and become part of a dynamic community of learners 
                and professionals. Our cohorts are designed to provide a supportive and 
                interactive learning environment, where you can: 
              </p>
              <ul>
                <li><strong>Learn from industry experts:</strong> Our trainers and consultants have years of experience in their fields and are passionate about sharing their knowledge.</li>
                <li><strong>Network with peers:</strong> Connect with like-minded professionals and build relationships that can help you grow personally and professionally.</li>
                <li><strong>Gain practical skills:</strong> Our training programs are designed to provide you with practical skills and knowledge that you can apply immediately.</li>
              </ul>
            </div>
          </div>

          <div class="contact__content">
            <img src="../public/images/our-plan.png" alt="" class="contact__img">
            <div class="contact__text">
              <h2>What to Expect</h2>
              <p>As a member of our next cohort, you can expect:</p>
              <ul>
                <li><strong>Interactive learning sessions:</strong> Our training sessions are designed to be interactive, engaging, and relevant to your needs.</li>
                <li><strong>Personalized support:</strong> Our team is committed to providing you with personalized support and guidance throughout the program.</li>
                <li><strong>Opportunities for growth:</strong> Our cohorts provide opportunities for growth, both personally and professionally.</li>
              </ul>
            </div>
          </div>
        </div>

        <div>
          <h2 class="cont__main--title">How to Apply</h2>
          <div class="contact__form--content">
            <div class="contact__text">
              
              <p>To join our next cohort, simply:</p>
              <ul>
                <li><strong>Fill out the application form:</strong> Provide us with some basic information about yourself and your interests. </li>
                <li><strong>Submit your application:</strong> Our team will review your application and get back to you within 24 hours.</li>
                <li><strong>Secure your spot:</strong>Once your application is accepted, you'll receive instructions on how to secure your spot in the cohort.</li>
              </ul>
            </div>
            <form action="#" method="POST">
              <div class="input__wrap">
                <div class="input__group">
                  <label for="firstName">First name</label>
                  <input type="text" name="firstName" />
                </div>
                <div class="input__group">
                  <label for="lastName">Last name</label>
                  <input type="text" name="lastName" />
                </div>
              </div>
              <div class="input__wrap">
                <div class="input__group">
                  <label for="email">Email</label>
                  <input type="text" name="email" />
                </div>
                <div class="input__group">
                  <label for="number">Phone number</label>
                  <input type="number"/>
                </div>
              </div>
              <textarea name="message" id="message" rows="5">Your Message...</textarea>
              <button type="submit" class="main__btn">Send Message</button>
            </form>
          </div>
        </div>

        <div>
              <h2 class="cont__main--title">Join Our Team </h2>
          <div class="contact__content--address">
            <p>We're always looking for talented and experienced trainers and consultants to join our network. If you're passionate about sharing your knowledge and expertise with others, we'd love to hear from you.</p>
            <address class="contact__address">
              <p>dekymedia.info@gmail.com</p>
              <p>tel: +234 70 3183 1310</p>
              <p>tel: +234 90 6522 3329</p>
            </address>
          </div>
        </div>
        
      </section>
    </main>
    <section class="footer container">
      <div class="logo">
        <img src="/public/images/deky-logo.png" alt="Deky logo" />
      </div>
      <div class="social__media">
        <div class="media">
          <i class="fa-brands fa-facebook-f"></i>
        </div>
        <div class="media">
          <i class="fa-brands fa-instagram"></i>
        </div>
        <div class="media">
          <i class="fa-brands fa-x-twitter"></i>
        </div>
        <div class="media">
          <i class="fa-brands fa-linkedin-in"></i>
        </div>
        <div class="media">
          <i class="fa-brands fa-threads"></i>
        </div>
      </div>
      <p>&copy; All Right Reserved. 2025</p>
    </section>
  </body>
</html>
